{% extends 'admin/layout.html' %}
{% block title %}Account{% endblock %}
{% block main_content %}
<div class="row">
    <div class="col-md-6 grid-margin stretch-card mx-auto">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center">Login Account</h4>
            <form class="forms-sample" id="adminAccountForm">
              {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" value="{{ data.email }}" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="text" value="{{ data.password }}" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Save Changes</button>
            </form>
          </div>
        </div>
      </div>
      
</div>
{% endblock %}

{% block footer %}
<script>
  $(document).ready(function() {
    $('#adminAccountForm').submit(function(e) {
        e.preventDefault();
        let formData = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: '/api/admin/update',
            data: formData,
            beforeSend: function () {
                $("#adminAccountForm button[type=submit]").prop("disabled", true);
            },
            success: function(response) {
                swal("Done!",response.message,"success")
            },
            error: function(xhr, status, error) {
                swal("Error!",xhr.responseJSON.error,"error")
            },
            complete:function (){
                setTimeout(function (){
                    $("#adminAccountForm button[type=submit]").prop("disabled", false);
                },1000)
            }
        });
    });
});

</script>
{% endblock %}